@model IEnumerable<WebApplication3.Models.Rank>
@{
    ViewData["Title"] = "IndexRank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Rankings</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="CreateRank" asp-controller="Rank">Agregar nuevo Ranking</a>
        </div>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.IdPlayer) </th>
                        <th>@Html.DisplayNameFor(m => m.PointsXP) </th>
                        <th>@Html.DisplayNameFor(m => m.Damage) </th>
                        <th>@Html.DisplayNameFor(m => m.BossesEliminated) </th>
                        <th>@Html.DisplayNameFor(m => m.ItemUse) </th>
                        <th>@Html.DisplayNameFor(m => m.Time) </th>
                        <th>@Html.DisplayNameFor(m => m.FinalRank) </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.IdPlayer</td>
                        <td>@item.PointsXP</td>
                        <td>@item.Damage</td>
                        <td>@item.BossesEliminated</td>
                        <td>@item.ItemUse</td>
                        <td>@item.Time</td>
                        <td>@item.FinalRank</td>
                        <td>
                            <a asp-controller="Rank" asp-action="EditRank" asp-route-id="@item.IdPlayer" class="btn btn-warning">Edit</a>
                            <a asp-controller="Rank" asp-action="DeleteRank" asp-route-id="@item.IdPlayer" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }
    </div>
</div>


