@model IEnumerable<WebApplication3.Models.Players>
@{
    ViewData["Title"] = "IndexPlayer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de libros1</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="CreatePlayer" asp-controller="Players">Agregar nuevo libro</a>
        </div>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.IdUser) </th>
                        <th>@Html.DisplayNameFor(m => m.PlayerName) </th>
                        <th>@Html.DisplayNameFor(m => m.PointsXP) </th>
                        <th>@Html.DisplayNameFor(m => m.Ranking) </th>
                        <th>@Html.DisplayNameFor(m => m.Skins) </th>
                        <th>@Html.DisplayNameFor(m => m.Achivements) </th>
                        <th>@Html.DisplayNameFor(m => m.Items) </th>
                        <th>@Html.DisplayNameFor(m => m.Lifes) </th>
                        <th>@Html.DisplayNameFor(m => m.CurrentStateOfProgress) </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.IdUser</td>
                        <td>@item.PlayerName</td>
                        <td>@item.PointsXP</td>
                        <td>@item.Ranking</td>
                        <td>@item.Skins</td>
                        <td>@item.Achivements</td>
                        <td>@item.Items</td>
                        <td>@item.Lifes</td>
                        <td>@item.CurrentStateOfProgress</td>
                        <td>
                            <a asp-controller="Players" asp-action="EditPlayer" asp-route-id="@item.IdUser" class="btn btn-warning">Edit</a>
                            <a asp-controller="Players" asp-action="DeletePlayer" asp-route-id="@item.IdUser" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }
    </div>
</div>

