@model IEnumerable<WebApplication3.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Usuarios</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Users">Agregar nuevo Usuario</a>
        </div>
    </div>
    @if (TempData["message"] != null) {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Id) </th>
                        <th>@Html.DisplayNameFor(m => m.FirstName) </th>
                        <th>@Html.DisplayNameFor(m => m.LastName) </th>
                        <th>@Html.DisplayNameFor(m => m.DateOfBirthday) </th>
                        <th>@Html.DisplayNameFor(m => m.Gmail) </th>
                        <th>@Html.DisplayNameFor(m => m.CellPhone) </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.DateOfBirthday</td>
                        <td>@item.Gmail</td>
                        <td>@item.CellPhone</td>

                        <td>
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }
    </div>
</div>

